extension/dify/brand-visibility-workflow.yml
app:
  description: |
    供 AI AutoChat 浏览器扩展调用：接收采集 JSON（export_file）与目标品牌（target_brands），
    输出 CSV 文本变量 csv_report。扩展通过 POST /v1/workflows/run 阻塞调用。
  icon: 📊
  icon_background: '#E4FBCC'
  mode: workflow
  name: Brand Visibility Report
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: true
      allowed_file_extensions:
      - .json
      - .JSON
      allowed_file_types:
      - custom
      allowed_file_upload_methods:
      - local_file
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: start-to-doc
      source: start_node
      sourceHandle: source
      target: doc_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: code
      id: doc-to-code
      source: doc_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: code-to-end
      source: code_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 与扩展 API 入参一致
        selected: false
        title: 开始
        type: start
        variables:
        - label: target_brands
          max_length: 2000
          options: []
          required: true
          type: text-input
          variable: target_brands
        - allowed_file_extensions:
          - .json
          allowed_file_types:
          - custom
          allowed_file_upload_methods:
          - local_file
          label: export_file
          max_length: null
          options: []
          required: true
          type: file
          variable: export_file
      height: 116
      id: start_node
      position:
        x: 30
        y: 280
      positionAbsolute:
        x: 30
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 从上传的 JSON 提取文本
        is_array_file: false
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - start_node
        - export_file
      height: 90
      id: doc_node
      position:
        x: 334
        y: 280
      positionAbsolute:
        x: 334
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import csv\nimport io\nimport json\n\n\ndef _as_text(val):\n    if val\
          \ is None:\n        return \"\"\n    if isinstance(val, list):\n        return\
          \ \"\\n\".join(str(x) for x in val)\n    return str(val)\n\n\ndef main(export_text:\
          \ str, target_brands: str) -> dict:\n    brands = [b.strip() for b in (target_brands\
          \ or \"\").split(\",\") if b.strip()]\n    raw = _as_text(export_text).strip()\n\
          \    try:\n        payload = json.loads(raw) if raw else {}\n    except json.JSONDecodeError\
          \ as e:\n        return {\n            \"csv_report\": \"error,message\\n\"\
          + f\"invalid json: {e}\",\n        }\n\n    if isinstance(payload, list):\n\
          \        results = payload\n        site = \"import\"\n    elif isinstance(payload,\
          \ dict):\n        results = payload.get(\"results\") or []\n        site =\
          \ str(payload.get(\"site\") or \"unknown\")\n    else:\n        results =\
          \ []\n        site = \"unknown\"\n\n    if not isinstance(results, list):\n\
          \        results = []\n\n    out = io.StringIO()\n    writer = csv.writer(out)\n\
          \    writer.writerow(\n        [\n            \"site\",\n            \"question\"\
          ,\n            \"brand\",\n            \"mentioned\",\n            \"mention_count\"\
          ,\n            \"capturedAt\",\n            \"pageUrl\",\n        ]\n   \
          \ )\n\n    scan_brands = brands or [\"(empty target_brands)\"]\n    for row\
          \ in results:\n        if not isinstance(row, dict):\n            continue\n\
          \        question = str(row.get(\"question\") or \"\")\n        answer =\
          \ str(row.get(\"answer\") or \"\")\n        row_site = str(row.get(\"site\"\
          ) or site)\n        captured = str(row.get(\"capturedAt\") or \"\")\n   \
          \     page_url = str(row.get(\"pageUrl\") or \"\")\n        haystack = f\"\
          {question}\\n{answer}\".lower()\n        for brand in scan_brands:\n    \
          \        key = brand.lower()\n            count = haystack.count(key) if\
          \ key and key != \"(empty target_brands)\" else 0\n            writer.writerow(\n\
          \                [\n                    row_site,\n                    question,\n\
          \                    brand,\n                    \"yes\" if count > 0 else\
          \ \"no\",\n                    count,\n                    captured,\n  \
          \                  page_url,\n                ]\n            )\n\n    if\
          \ not results:\n        writer.writerow([site, \"\", \"\", \"no\", 0, \"\
          \", \"\"])\n\n    return {\"csv_report\": out.getvalue()}\n"
        code_language: python3
        desc: 解析 results[]，按品牌统计是否出现在问答中
        outputs:
          csv_report:
            children: null
            type: string
        selected: false
        title: 生成 CSV 报告
        type: code
        variables:
        - value_selector:
          - doc_node
          - text
          value_type: string
          variable: export_text
        - value_selector:
          - start_node
          - target_brands
          value_type: string
          variable: target_brands
      height: 90
      id: code_node
      position:
        x: 638
        y: 280
      positionAbsolute:
        x: 638
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 扩展读取 outputs.csv_report
        outputs:
        - value_selector:
          - code_node
          - csv_report
          value_type: string
          variable: csv_report
        selected: false
        title: 结束
        type: end
      height: 90
      id: end_node
      position:
        x: 942
        y: 280
      positionAbsolute:
        x: 942
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
